# folder contains offical solutions
/official_solutions_python/

# raw data file
/RawData/

# pdf doc
/*.pdf

# SQL practice
/SQL/

# notebook checkpoint
/*.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
